<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask Example</title>
</head>
<body>
    <form method="POST" action="">
      What is your name? <input type="text" name="name">
      <input type="submit" name="submit" value="enviar">
    </form>

    {% if name %}
      <h1>Hola, {{name}}!</h1>
    {% endif %}
</body>
</html>