{% extends "layout.html" %}
{% block title %}Hello {{ name }}{% endblock %}
{% block content %}
    <h2>Hola {{ name.capitalize() }} {{ lastname.capitalize() }}</h2>
    <p>Age: {{ age }}</p>
    <p>Email: {{ email }}</p>
{% endblock %}