{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Personal Information</h1>
	<form action="{{ url_for('save') }}" method="POST">
		<input type="text" name="name" size="18" placeholder="Name">
		<input type="text" name="lastname" size="20" placeholder="Lastname"><br>
		<input type="text" name="age" size="6" placeholder="Age">
		<input type="text" name="email" size="32" placeholder="Email"><br>
		<input type="submit" value="Save!">
	</form>
{% endblock %}