<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask Framework Cookbook</title>
</head>
<body>
    <h1>Hello {{user}}!</h1>
    <p>Welcome to the world of Flask!</p>
</body>
</html>